<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.BrandMapper">
<resultMap id="brandRM" type="brand">
    <result column="cname" property="companyName"></result>
    <result column="bname" property="brandName"></result>
</resultMap>

    <delete id="delByIds">
        delete from brand where id in (
        <foreach collection="ids" item="id" separator=",">
            #{id}
        </foreach>
        );
    </delete>

</mapper>